<button
  [type]="type()"
  [disabled]="disabled()"
  class="button"
  [ngClass]="{
  'btn-primary':   color() === 'primary',
  'btn-secondary': color() === 'secondary',
  'btn-outline':   color() === 'outline',
  'btn-leave':     color() === 'leave',
  'btn-outline-variant': variant() === 'outline',
  'btn-solid-variant': variant() === 'solid',
}"
  (click)="onClick.emit()"
>
<ng-content select="[iconLeftSlot]"></ng-content>
<ng-content select="[labelSlot]"></ng-content>
<ng-content select="[iconRightSlot]"></ng-content>  {{ text() }}
</button>
