<div class="auth-box">
    <h2>Реєстрація</h2>

    @if (message) {
    <p [class.success]="success" [class.error]="!success">{{ message }}</p>
    }

    <form (ngSubmit)="onRegister()">
        <input [(ngModel)]="username" placeholder="Логін" required />
        <input type="password" [(ngModel)]="password" placeholder="Пароль" required />
        <button type="submit">Зареєструватися</button>
    </form>

    <p class="link">
        Вже маєте акаунт?
        <a routerLink="/login">Увійти</a>
    </p>
</div>