<div class="card">
    <h3>Teams</h3>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Team Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Alpha Team</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Beta Squad</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Gamma Force</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Delta Unit</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Epsilon</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Zeta</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Eta</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Theta</td>
            </tr>
        </tbody>
    </table>
</div>
