:root {
    --color-error: #e24b4a;
    --color-disabled: #888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

button {
    cursor: pointer;
}

button:focus,
input:focus {
    outline: none;
}